@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F0D8;
  background-image: 
    linear-gradient(0deg, transparent 24%, rgba(179, 171, 150, 0.08) 25%, rgba(179, 171, 150, 0.08) 26%, transparent 27%, transparent 74%, rgba(179, 171, 150, 0.08) 75%, rgba(179, 171, 150, 0.08) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, rgba(179, 171, 150, 0.08) 25%, rgba(179, 171, 150, 0.08) 26%, transparent 27%, transparent 74%, rgba(179, 171, 150, 0.08) 75%, rgba(179, 171, 150, 0.08) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

html {
  background-color: #F2F0D8;
}
